.countries_block {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px auto;
  row-gap: 50px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  font-size: 1.4rem;
}
.countries_block .random_country_block {
  margin-top: 50px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
.countries_block .country_list_block {
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 30px 5px 30px 5px;
  min-height: 300px;
}
.countries_block .country_facts_container {
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 30px 5px 30px 5px;
  min-height: 300px;
}