header {
  background-color: rgb(27, 79, 100);
  display: grid;
  align-items: center;
  justify-items: center;
}
header .logo_container {
  position: relative;
  border-radius: 50%;
  background-color: white;
}
header .logo_container .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header nav {
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-items: left;
}
header nav .menu_option {
  position: relative;
  border-radius: 7px;
  background-color: rgb(235, 223, 201);
  font-weight: 600;
  color: rgb(140, 121, 106);
}
header nav .menu_option a {
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 1024px) {
  header {
    grid-template-columns: 0.2fr 0.8fr;
  }
  header .logo_container {
    height: 50px;
    width: 50px;
    font-size: 1.8rem;
  }
  header .logo_container .logo {
    font-size: 1.8rem;
  }
  header nav {
    width: 75%;
    height: 70px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  header nav .menu_option {
    width: 200px;
    height: 50px;
    font-size: 1.3rem;
  }
}